{% extends 'include/base.html' %}
{% block content %}
<div class="post" style="width: 100%; word-break: break-all">
    <p class="tags">Теги: {% for tag in post.tags.all %}
        <a class="btn btn-sm" style="background: #543620; color: #fff" href="{% url 'post_list_by_tag' tag.slug %}" role="button">{{ tag.name }}</a>
        {% if not forloop.last %}
        {% endif %}
        {% endfor %}</p>
    </p>
    {% if post.published_date %}
    <div class="date">
        {{ post.published_date }}
    </div>
    {% endif %}
    <p>Автор: {{ author.first_name }} {{ author.last_name }}</p>
    <h1>{{ post.title }}</h1>
    <p>{{ post.text|linebreaksbr }}</p>
    {% if post.author == request.user %}
    <form method="POST">{% csrf_token %}
        <p>
            <a class="btn btn-lg active" style="background: #543620; color: #fff" href="{% url 'post_edit' pk=post.pk %}" role="button" aria-pressed="true">Редактировать</a>
            <a class="btn btn-lg active" style="background: #543620; color: #fff" href="{% url 'post_delete' pk=post.pk %}" role="button" aria-pressed="true">Удалить</a>

        </p>
    </form>
    {% endif %}
    {% for doc in media %}
    <p><a class="btn btn-sm active" style="background: #543620; color: #fff; float:left; margin-right:5px;" href="{{doc.document.url}}" role="button" aria-pressed="true">Скачать {{doc.document.name}}</a>
    <form method="POST">{% csrf_token %}
        <button type="submit" class="btn btn-dark btn-sm" name="delete" value="{{doc.document.name}}" style="background: #543620; color: #fff">удалить</button></p>
    </form>
    {% endfor %}
    {% if post.image %}
    {% load thumbnail %}
    {% thumbnail post.image "300" as mini_image %}
    <p><a href="{{ post.image.url }}"><img src="{{ mini_image.url }}"></a></p>
    {% endthumbnail %}
    {% endif %}
</div>
{% endblock %}
