{% extends 'include/base.html' %}

{% block all_tags %}
<div class="tag-panel shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
        <h2 class="card-title"><center>Список всех тегов</center></h2>
        {% for tag in all_tags %}
        <a class="tag-name btn btn-sm" href="{% url 'post_list_by_tag' tag.slug %}" role="button">{{ tag.name }}
        </a>
        {% if not forloop.last %}
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block content %}
{% include 'include/post.html' %}
{% endblock %}
